*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}

.container{
    width: 90%;
    max-width: 350px;
    margin: 0 auto;
}

.article1{
    margin: 20px 0 ;
}